%h2 A Salesforce connected web app to access and download Event Log Files

%div
  = link_to "Production Login", omniauth_login_path(:salesforce), class: 'btn btn-primary'
  = link_to "Sandbox Login", omniauth_login_path(:salesforcesandbox), class: 'btn btn-success'