-# Github stars
%iframe{:frameborder => "0", :height => "20px", :scrolling => "0", :src => "https://ghbtns.com/github-btn.html?user=abisek&repo=salesforce-elf-browser&type=star&count=true&size=small", :width => "75px"}


-# Github forks
%iframe{:frameborder => "0", :height => "20px", :scrolling => "0", :src => "https://ghbtns.com/github-btn.html?user=abisek&repo=salesforce-elf-browser&type=fork&count=true&size=small", :width => "75px"}